@import 'variables.scss';
@import 'globales.scss';
@import 'mixins.scss';
@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--fondo);
  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* MAIN */
main{
	text-align:center;
}

div.carrusel{
	display:flex;
	justify-content: space-around;
	margin:4rem 0;
	img{
		width:30rem;
		-webkit-box-shadow: 0px 10px 21px 3px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 10px 21px 3px rgba(0,0,0,0.75);
		box-shadow: 0px 10px 21px 3px rgba(0,0,0,0.75);
	}
}

div.block{
	background-color:var(--oscuro);
	a{
		color:var(--claro);
		height:5rem;
		align-self:center;
	}
	&.claro{
		background-color:var(--claro);
		a{
			color:var(--oscuro);
			margin:0;
		}
	}
}
div.block .showcase{
	display:flex;
	justify-content:space-between;
	height:100%;
}
.showcase.vertical{
	flex-direction:column;
}
.showcase.buttons{
	justify-content:center;
	margin:3rem auto;
	button{
		margin:1rem;
		width:12rem;
		height:6rem;
		font-size:1.8rem;
		background:transparent;
		font-family: var(--nanum);
		color:var(--oscuro);
		background-color: var(--claro);
		border:1px solid var(--claro);
		cursor:pointer;
		&.inverso{
			border:none;
			background-color: var(--oscuro);
			color:var(--claro);
		}
	}
}
p.tag{
	background-color:var(--claro);
	color:var(--oscuro)!important;
	padding:1rem;
}
.selling{
	h3{
		color: var(--claro);
	}
}
div.block {
	height:25rem;
	&.selling{
		height:100%;
	}
	&.claro{
		p{
			color:var(--oscuro);
		}
	}
	p{
		color:var(--claro);
		font-size:1.6rem;
		line-height:1.5;
		text-align:center;
		align-self: center;
	}
	img{
		width:50rem;
		margin:1rem;
		&.loop{
			width:15rem;
			height:15rem;
			&.force{
				margin:auto 5rem;
				width:21rem;
				height:21rem;
			}
		}
	}
	h2,h3{
		font-size:2rem;
		text-align:center;
		align-self:center;
		&.claro{
			color:var(--claro);
		}
	}
	li{
		font-size:1.6rem;
		line-height: 2.2;
	}
}

aside{
	width:10rem;
	margin:1rem;
}
section.products-grid{
	display:grid;
	grid-template-columns:repeat(4,1fr);
	gap:2rem;
	margin:0 auto;
}
.product{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	padding:1rem;
	&.horizontal{
		flex-direction:row;
	}
	img{
		width:15rem;
		margin:0 auto;
	}
	p,li{
		line-height:1;
	}
	li{
		font-size:1.6rem;
	}
	h3{
		font-size:1.8rem;
	}
	p{
		font-size:1.4rem;
		margin:1rem;
	}
}

p.price{
	font-size:1.4rem;
	margin:1rem;
	color:var(--verde)!important;
	font-weight: 700;
	font-size: 1.8rem;
	margin:auto;
}